.home_section {
    margin-top: 0;
    background-color:rgb(134, 251, 134); 
    background-image: "https://images.pexels.com/photos/3763872/pexels-photo-3763872.jpeg?auto=compress&cs=tinysrgb&w=600" alt="";
  }
  .home_section_one {
    display: grid;
    grid-template-columns: 50vw 40vw;
  }
  .home_image img {
    height: 85vh;
    width: 100%;
    margin: 4rem;
  }
  .home_content {
    color: #121212;
    height: 90vh;
    width: 95%;
    margin: 4rem;
    font-size: 2rem;
    font-style:serif;
  }
  .home_content button {
    background-color:rgb(3, 51, 3);
    width: 6rem;
    height: 2.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    color:#fff;
    border:none;
  }
  
  @media screen and (max-width: 750px) {
    /* .home_content {
          width: 80vw;
      }
  
   
      .home_image img {
          display: none;
      } */
    .home_section_one {
      display: grid;
      grid-template-columns: 1fr;
    }
    .home_content {
      width: 80vw;
      height: 40%;
      
    }
    .home_image img {
      width: 40vw;
      height: 70%;
      margin: 2rem;
      margin-left: 8rem;
    }
  }